# Identifying Fraud at Enron Using Emails and Financial Data

## Project Introduction

In 2000, Enron was one of the largest companies in the United States. By 2002, it had collapsed into bankruptcy due to widespread corporate fraud. In the resulting Federal investigation, there was a significant amount of typically confidential information entered into public record, including tens of thousands of emails and detailed financial data for top executives.
For this project, predictive models were built using scikit learn, numpy, and pandas modules in Python. The target of the predictions were persons-of-interest (POI’s) who were ‘individuals who were indicted, reached a settlement, or plea deal with the government, or testified in exchange for prosecution immunity.’ Financial compensation data and aggregate email statistics from the Enron Corpus were used as features for prediction.

The goal of this project is to build a prediction model to identify persons-of-interest (POI’s.)

**Importing Necessary Libraries**

In [30]:
import sys
import pickle
import numpy as np
import pandas as pd
import sklearn
import matplotlib as plt
%matplotlib inline

In [31]:
import pickle

enron_data = pickle.load(open("C:/Users/Geekquad/ud120-projects/final_project/final_project_dataset_modified_unix.pkl", "rb"))

## Understanding the Dataset

### Data Exploration

Addresses the most important characteristics of the dataset and uses these characteristics to inform their analysis.

**Important characteristics include: **
-  Size of the Enron Dataset
-  Features in the Enron Dataset 
-  Finding POI's in the Enron Data
-  Queries of the Dataset
- Follow the Money
- Dealing with Unfilled Features
- Missing POI's

In [50]:
print('Number of people in the Enron dataset: {0}'.format(len(enron_data)))

Number of people in the Enron dataset: 143

In [51]:
"""Change data dictionary to pandas DataFrame"""
df = pd.DataFrame.from_records(list(enron_data.values()))
persons= pd.Series(list(enron_data.keys()))
print(persons.head())
df.head

0          METTS MARK
1       BAXTER JOHN C
2      ELLIOTT STEVEN
3    CORDES WILLIAM R
4      HANNON KEVIN P
dtype: object

<bound method NDFrame.head of        bonus deferral_payments deferred_income director_fees  \
0     600000               NaN             NaN           NaN
1    1200000           1295738        -1386055           NaN
2     350000               NaN         -400729           NaN
3        NaN               NaN             NaN           NaN
4    1500000               NaN        -3117011           NaN
5     325000               NaN             NaN           NaN
6        NaN           1848227             NaN           NaN
7    2600000               NaN             NaN           NaN
8    1150000           2157527         -934484           NaN
9     400000           1130036          -33333           NaN
10       NaN           2964506             NaN           NaN
11       NaN            774401             NaN           NaN
12    850000               NaN             NaN           NaN
13    700000               NaN             NaN           NaN
14       NaN            504610             NaN           NaN
15       NaN               NaN             NaN           NaN
16   1200000             27610         -144062           NaN
17   1100000            842924         -719000           NaN
18    250000               NaN             NaN           NaN
19       NaN               NaN          -10800           NaN
20       NaN             53625             NaN           NaN
21    850000               NaN             NaN           NaN
22   3100000               NaN             NaN           NaN
23       NaN               NaN          -98784         98784
24       NaN           -102500             NaN          3285
25   2000000               NaN             NaN           NaN
26       NaN               NaN             NaN           NaN
27    250000               NaN         -485813           NaN
28       NaN               NaN          -36666         36666
29   1000000               NaN             NaN           NaN
..       ...               ...             ...           ...
113   300000               NaN             NaN           NaN
114      NaN               NaN             NaN        137864
115   300000               NaN         -159792           NaN
116   500000               NaN             NaN           NaN
117      NaN               NaN             NaN           NaN
118   400000               NaN             NaN           NaN
119   850000               NaN             NaN           NaN
120    70000               NaN             NaN           NaN
121      NaN               NaN             NaN           NaN
122      NaN             10259             NaN           NaN
123   600000               NaN             NaN           NaN
124   800000               NaN        -1284000           NaN
125  2000000           6426990        -3367011           NaN
126  1000000               NaN             NaN           NaN
127      NaN               NaN             NaN           NaN
128   400000            260455         -201641           NaN
129      NaN               NaN             NaN           NaN
130      NaN             50591             NaN           NaN
131      NaN               NaN             NaN           NaN
132   700000               NaN             NaN           NaN
133      NaN               NaN         -121284        125034
134      NaN               NaN             NaN           NaN
135   300000               NaN         -575000           NaN
136      NaN             85430             NaN           NaN
137   900000            649584         -694862           NaN
138      NaN               NaN             NaN        119292
139  1000000               NaN         -235000           NaN
140   600000            227449             NaN           NaN
141   800000               NaN         -300000           NaN
142   600000               NaN             NaN           NaN

                   email_address exercised_stock_options expenses  \
0           mark.metts@enron.com                     NaN    94299
1                            NaN                 6680544    11200
2       steven.elliott@enron.com                 4890344    78552
3          bill.cordes@enron.com                  651850      NaN
4         kevin.hannon@enron.com                 5538001    34039
5    kristina.mordaunt@enron.com                     NaN    35018
6       rockford.meyer@enron.com                  493489      NaN
7      jeffrey.mcmahon@enron.com                 1104054   137108
8        mark.haedicke@enron.com                  608750    76169
9           greg.piper@enron.com                  880290    43057
10       gene.humphrey@enron.com                 2282768     4994
11                           NaN                     NaN      NaN
12     jeremy.blachman@enron.com                  765313    84208
13         marty.sunde@enron.com                     NaN      NaN
14          dana.gibbs@enron.com                 2218275      NaN
15                           NaN                  372205      NaN
16         wes.colwell@enron.com                     NaN    16514
17           s..muller@enron.com                 1056320      NaN
18    charlene.jackson@enron.com                  185063    10181
19       dick.westfahl@enron.com                     NaN    51870
20                           NaN                 1030329    33785
21           rob.walls@enron.com                 4346544    50936
22      louise.kitchen@enron.com                   81042     5774
23                           NaN                     NaN      NaN
24                           NaN                    3285      NaN
25    jeffrey.shankman@enron.com                 1441898   178979
26       john.wodraska@enron.com                     NaN      NaN
27     rick.bergsieker@enron.com                     NaN    59175
28                           NaN                     NaN   228656
29       philippe.bibi@enron.com                 1465734    38559
..                           ...                     ...      ...
113     mark.pickering@enron.com                   28798    31653
114   sanjay.bhatnagar@enron.com                 2604490      NaN
115     rebecca.carter@enron.com                     NaN      NaN
116      john.buchanan@enron.com                  825464      600
117                          NaN                  192758    55097
118       julia.murray@enron.com                  400478    57580
119      kevin.garland@enron.com                  636246    48405
120       keith.dodson@enron.com                     NaN    28164
121       scott.yeager@enron.com                 8308552    53947
122          joe.hirko@enron.com                30766064    77978
123     janet.dietrich@enron.com                 1550019     3475
124      james.derrick@enron.com                 8831913    51124
125       mark.frevert@enron.com                10433518    86987
126            lou.pai@enron.com                15364167    32047
127       rod.hayslett@enron.com                     NaN      NaN
128          frank.bay@enron.com                     NaN   129142
129      danny.mccarty@enron.com                  664375      NaN
130                          NaN                  176378      NaN
131  matthew.scrimshaw@enron.com                  759557      NaN
132        mark.koenig@enron.com                  671737   127017
133                          NaN                     NaN      NaN
134         larry.izzo@enron.com                 2165172    28093
135   elizabeth.tilney@enron.com                  591250      NaN
136          a..martin@enron.com                 2070306     8211
137           rick.buy@enron.com                 2542813      NaN
138                          NaN                     NaN      NaN
139     richard.causey@enron.com                     NaN    30674
140    mitchell.taylor@enron.com                 3181250      NaN
141       jeff.donahue@enron.com                  765920    96268
142         ben.glisan@enron.com                  384728   125978

    from_messages from_poi_to_this_person from_this_person_to_poi  \
0              29                      38                       1
1             NaN                     NaN                     NaN
2             NaN                     NaN                     NaN
3              12                      10                       0
4              32                      32                      21
5             NaN                     NaN                     NaN
6              28                       0                       0
7              48                      58                      26
8            1941                     180                      61
9             222                      61                      48
10             17                      10                      17
11            NaN                     NaN                     NaN
12             14                      25                       2
13             38                      37                      13
14             12                       0                       0
15            NaN                     NaN                     NaN
16             40                     240                      11
17             16                      12                       0
18             56                      25                      19
19            NaN                     NaN                     NaN
20            NaN                     NaN                     NaN
21            146                      17                       0
22           1728                     251                     194
23            NaN                     NaN                     NaN
24            NaN                     NaN                     NaN
25           2681                      94                      83
26            NaN                     NaN                     NaN
27             59                       4                       0
28            NaN                     NaN                     NaN
29             40                      23                       8
..            ...                     ...                     ...
113            67                       7                       0
114            29                       0                       1
115            15                      29                       7
116           125                       0                       0
117           NaN                     NaN                     NaN
118            45                      11                       2
119            44                      10                      27
120            14                      10                       3
121           NaN                     NaN                     NaN
122           NaN                     NaN                     NaN
123            63                     305                      14
124           909                      64                      20
125            21                     242                       6
126           NaN                     NaN                     NaN
127          1061                      35                      38
128           NaN                     NaN                     NaN
129           215                      25                       2
130           NaN                     NaN                     NaN
131           NaN                     NaN                     NaN
132            61                      53                      15
133           NaN                     NaN                     NaN
134            19                      28                       5
135            19                      10                      11
136           230                       8                       0
137          1053                     156                      71
138           NaN                     NaN                     NaN
139            49                      58                      12
140            29                       0                       0
141            22                     188                      11
142            16                      52                       6

           ...        long_term_incentive    other    poi  restricted_stock  \
0          ...                        NaN     1740  False            585062
1          ...                    1586055  2660303  False           3942714
2          ...                        NaN    12961  False           1788391
3          ...                        NaN      NaN  False            386335
4          ...                    1617011    11350   True            853064
5          ...                        NaN     1411  False            208510
6          ...                        NaN      NaN  False            462384
7          ...                     694862   297353  False            558801
8          ...                     983346    52382  False            524169
9          ...                        NaN      778  False            409554
10         ...                        NaN      NaN  False               NaN
11         ...                        NaN      NaN  False            463261
12         ...                     831809      272  False            189041
13         ...                     476451   111122  False            698920
14         ...                     461912      NaN  False               NaN
15         ...                        NaN      NaN  False            153686
16         ...                        NaN   101740   True            698242
17         ...                    1725545      947  False            360528
18         ...                        NaN     2435  False            540672
19         ...                     256191   401130  False            384930
20         ...                        NaN      NaN  False               NaN
21         ...                     540751        2  False           1552453
22         ...                        NaN    93925  False            466101
23         ...                        NaN      NaN  False             32460
24         ...                        NaN      NaN  False               NaN
25         ...                     554422     1191  False            630137
26         ...                        NaN   189583  False               NaN
27         ...                     180250   427316  False            659249
28         ...                        NaN      NaN  False               NaN
29         ...                     369721   425688  False            378082
..         ...                        ...      ...    ...               ...
113        ...                        NaN      NaN  False               NaN
114        ...                        NaN   137864  False          -2604490
115        ...                      75000      540  False            307301
116        ...                     304805     1215  False            189041
117        ...                        NaN      NaN  False               NaN
118        ...                     125000      330  False            196983
119        ...                     375304    60814  False            259907
120        ...                        NaN      774  False               NaN
121        ...                        NaN   147950   True           3576206
122        ...                        NaN     2856   True               NaN
123        ...                     556416      473  False            315068
124        ...                     484000     7482  False           1787380
125        ...                    1617011  7427621  False           4188667
126        ...                        NaN  1829457  False           8453763
127        ...                        NaN      NaN  False            346663
128        ...                        NaN       69  False            145796
129        ...                        NaN      NaN  False             94556
130        ...                        NaN      NaN  False               NaN
131        ...                        NaN      NaN  False               NaN
132        ...                     300000   150458   True           1248318
133        ...                        NaN      NaN  False               NaN
134        ...                     312500  1553729  False           3654808
135        ...                     275000   152055  False            576792
136        ...                    5145434  2818454  False               NaN
137        ...                     769862   400572  False            901657
138        ...                        NaN      NaN  False               NaN
139        ...                     350000   307895   True           2502063
140        ...                        NaN      NaN  False            563798
141        ...                        NaN      891  False            315068
142        ...                      71023   200308   True            393818

    restricted_stock_deferred   salary shared_receipt_with_poi to_messages  \
0                         NaN   365788                     702         807
1                         NaN   267102                     NaN         NaN
2                         NaN   170941                     NaN         NaN
3                         NaN      NaN                      58         764
4                         NaN   243293                    1035        1045
5                         NaN   267093                     NaN         NaN
6                         NaN      NaN                      22         232
7                         NaN   370448                    2228        2355
8                     -329825   374125                    1847        4009
9                     -409554   197091                     742        1238
10                        NaN   130724                     119         128
11                     -94556      NaN                     NaN         NaN
12                        NaN   248546                    2326        2475
13                        NaN   257486                    2565        2647
14                        NaN      NaN                      23         169
15                    -153686      NaN                     NaN         NaN
16                        NaN   288542                    1132        1758
17                        NaN   251654                     114         136
18                        NaN   288558                     117         258
19                        NaN    63744                     NaN         NaN
20                        NaN      NaN                     NaN         NaN
21                        NaN   357091                     215         671
22                        NaN   271442                    3669        8305
23                     -32460      NaN                     NaN         NaN
24                      44093      NaN                     NaN         NaN
25                        NaN   304110                    1730        3221
26                        NaN      NaN                     NaN         NaN
27                        NaN   187922                     233         383
28                        NaN      NaN                     NaN         NaN
29                        NaN   213625                    1336        1607
..                        ...      ...                     ...         ...
113                       NaN   655037                     728         898
114                  15456290      NaN                     463         523
115                   -307301   261809                     196         312
116                       NaN   248017                      23        1088
117                       NaN      NaN                     NaN         NaN
118                       NaN   229284                     395        2192
119                       NaN   231946                     178         209
120                       NaN   221003                     114         176
121                       NaN   158403                     NaN         NaN
122                       NaN      NaN                     NaN         NaN
123                       NaN   250100                    1902        2572

In [55]:
pois = [x for x, y in enron_data.items() if y['poi']]
print('Number of POI\'s(Person Of Interests): {0}'.format(len(pois)))

Number of POI's(Person Of Interests): 16

In [56]:
df.shape
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143 entries, 0 to 142
Data columns (total 21 columns):
bonus                        143 non-null object
deferral_payments            143 non-null object
deferred_income              143 non-null object
director_fees                143 non-null object
email_address                143 non-null object
exercised_stock_options      143 non-null object
expenses                     143 non-null object
from_messages                143 non-null object
from_poi_to_this_person      143 non-null object
from_this_person_to_poi      143 non-null object
loan_advances                143 non-null object
long_term_incentive          143 non-null object
other                        143 non-null object
poi                          143 non-null bool
restricted_stock             143 non-null object
restricted_stock_deferred    143 non-null object
salary                       143 non-null object
shared_receipt_with_poi      143 non-null object
to_messages                  143 non-null object
total_payments               143 non-null object
total_stock_value            142 non-null object
dtypes: bool(1), object(20)
memory usage: 22.6+ KB

In [60]:
""" Nmaes of all the users in the dataset """
enron_data.keys()

dict_keys(['METTS MARK', 'BAXTER JOHN C', 'ELLIOTT STEVEN', 'CORDES WILLIAM R', 'HANNON KEVIN P', 'MORDAUNT KRISTINA M', 'MEYER ROCKFORD G', 'MCMAHON JEFFREY', 'HAEDICKE MARK E', 'PIPER GREGORY F', 'HUMPHREY GENE E', 'NOLES JAMES L', 'BLACHMAN JEREMY M', 'SUNDE MARTIN', 'GIBBS DANA R', 'LOWRY CHARLES P', 'COLWELL WESLEY', 'MULLER MARK S', 'JACKSON CHARLENE R', 'WESTFAHL RICHARD K', 'WALTERS GARETH W', 'WALLS JR ROBERT H', 'KITCHEN LOUISE', 'CHAN RONNIE', 'BELFER ROBERT', 'SHANKMAN JEFFREY A', 'WODRASKA JOHN', 'BERGSIEKER RICHARD P', 'URQUHART JOHN A', 'BIBI PHILIPPE A', 'RIEKER PAULA H', 'WHALEY DAVID A', 'BECK SALLY W', 'HAUG DAVID L', 'ECHOLS JOHN B', 'MENDELSOHN JOHN', 'HICKERSON GARY J', 'CLINE KENNETH W', 'LEWIS RICHARD', 'HAYES ROBERT E', 'KOPPER MICHAEL J', 'LEFF DANIEL P', 'LAVORATO JOHN J', 'BERBERIAN DAVID', 'DETMERING TIMOTHY J', 'WAKEHAM JOHN', 'POWERS WILLIAM', 'GOLD JOSEPH', 'BANNANTINE JAMES M', 'DUNCAN JOHN H', 'SHAPIRO RICHARD S', 'SHERRIFF JOHN R', 'SHELBY REX', 'LEMAISTRE CHARLES', 'DEFFNER JOSEPH M', 'KISHKILL JOSEPH G', 'WHALLEY LAWRENCE G', 'MCCONNELL MICHAEL S', 'PIRO JIM', 'DELAINEY DAVID W', 'SULLIVAN-SHAKLOVITZ COLLEEN', 'WROBEL BRUCE', 'LINDHOLM TOD A', 'MEYER JEROME J', 'BUTTS ROBERT H', 'OLSON CINDY K', 'MCDONALD REBECCA', 'CUMBERLAND MICHAEL S', 'GAHN ROBERT S', 'BADUM JAMES P', 'HERMANN ROBERT J', 'FALLON JAMES B', 'GATHMANN WILLIAM D', 'HORTON STANLEY C', 'BOWEN JR RAYMOND M', 'GILLIS JOHN', 'FITZGERALD JAY L', 'MORAN MICHAEL P', 'REDMOND BRIAN L', 'BAZELIDES PHILIP J', 'BELDEN TIMOTHY N', 'DIMICHELE RICHARD G', 'DURAN WILLIAM D', 'THORN TERENCE H', 'FASTOW ANDREW S', 'FOY JOE', 'CALGER CHRISTOPHER F', 'RICE KENNETH D', 'KAMINSKI WINCENTY J', 'LOCKHART EUGENE E', 'COX DAVID', 'OVERDYKE JR JERE C', 'PEREIRA PAULO V. FERRAZ', 'STABLER FRANK', 'BLAKE JR. NORMAN P', 'SHERRICK JEFFREY B', 'PRENTICE JAMES', 'GRAY RODNEY', 'THE TRAVEL AGENCY IN THE PARK', 'UMANOFF ADAM S', 'KEAN STEVEN J', 'FOWLER PEGGY', 'WASAFF GEORGE', 'WHITE JR THOMAS E', 'CHRISTODOULOU DIOMEDES', 'ALLEN PHILLIP K', 'SHARP VICTORIA T', 'JAEDICKE ROBERT', 'WINOKUR JR. HERBERT S', 'BROWN MICHAEL', 'MCCLELLAN GEORGE', 'HUGHES JAMES A', 'REYNOLDS LAWRENCE', 'PICKERING MARK R', 'BHATNAGAR SANJAY', 'CARTER REBECCA C', 'BUCHANAN HAROLD G', 'YEAP SOON', 'MURRAY JULIA H', 'GARLAND C KEVIN', 'DODSON KEITH', 'YEAGER F SCOTT', 'HIRKO JOSEPH', 'DIETRICH JANET R', 'DERRICK JR. JAMES V', 'FREVERT MARK A', 'PAI LOU L', 'HAYSLETT RODERICK J', 'BAY FRANKLIN R', 'MCCARTY DANNY J', 'FUGH JOHN L', 'SCRIMSHAW MATTHEW', 'KOENIG MARK E', 'SAVAGE FRANK', 'IZZO LAWRENCE L', 'TILNEY ELIZABETH A', 'MARTIN AMANDA K', 'BUY RICHARD B', 'GRAMM WENDY L', 'CAUSEY RICHARD A', 'TAYLOR MITCHELL S', 'DONAHUE JR JEFFREY M', 'GLISAN JR BEN F'])

In [61]:
### Queries of the Dataset ###

In [66]:
enron_data['PRENTICE JAMES']

{'bonus': 'NaN',
 'deferral_payments': 564348,
 'deferred_income': 'NaN',
 'director_fees': 'NaN',
 'email_address': 'james.prentice@enron.com',
 'exercised_stock_options': 886231,
 'expenses': 'NaN',
 'from_messages': 'NaN',
 'from_poi_to_this_person': 'NaN',
 'from_this_person_to_poi': 'NaN',
 'loan_advances': 'NaN',
 'long_term_incentive': 'NaN',
 'other': 'NaN',
 'poi': False,
 'restricted_stock': 208809,
 'restricted_stock_deferred': 'NaN',
 'salary': 'NaN',
 'shared_receipt_with_poi': 'NaN',
 'to_messages': 'NaN',
 'total_payments': 564348,
 'total_stock_value': 1095040}

In [67]:
enron_data['PRENTICE JAMES']['total_stock_value']

1095040

In [68]:
enron_data['COLWELL WESLEY']['from_this_person_to_poi']

11

In [75]:
features_list = ['poi', 'salary', 'to_messages', 'deferral_payments', 'total_payments', 
                 'loan_advances', 'bonus', 'restricted_stock_deferred', 
                 'deferred_income', 'total_stock_value', 'expenses', 'from_poi_to_this_person', 
                 'exercised_stock_options', 'from_messages', 'other', 'from_this_person_to_poi', 
                 'long_term_incentive', 'shared_receipt_with_poi', 'restricted_stock', 'director_fees'] 

f = open('C:/Users/Geekquad/ud120-projects/final_project/poi_names.txt', 'r')

The features in the data fall into three major types, namely financial features, email features and POI labels.

financial features: ['salary', 'deferral_payments', 'total_payments', 'loan_advances', 'bonus', 'restricted_stock_deferred', 'deferred_income', 'total_stock_value', 'expenses', 'exercised_stock_options', 'other', 'long_term_incentive', 'restricted_stock', 'director_fees'] (all units are in US dollars)

email features: ['to_messages', 'email_address', 'from_poi_to_this_person', 'from_messages', 'from_this_person_to_poi', 'shared_receipt_with_poi'] (units are generally number of emails messages; notable exception is ‘email_address’, which is a text string)

POI label: [‘poi’] (boolean, represented as integer)

I'm going to try to use all features, filter them and choose the best.